<% flash.each do |msg_type, message| %>
  <div class="alert <%= bootstrap_class_for(msg_type) %>" id="alert_message"  >
    <div class="container">
      <button class="close" data-dismiss="alert"><span>×</span></button>
      <% if message.html_safe? %>
        <%= message.html_safe %>
      <% elsif flash[:alert].present? %>
         <% flash[:alert].each do |key, value| %>
           <% if value.first.present? %>
           <%= "#{key.capitalize} #{value.first}" %></br>
           <% end %>
         <% end %>
      <% elsif flash[:notice].present? %>
        <%= flash[:notice] %>
      <% end %>
    </div>
  </div>
<% end %>
