<div class="container py-5">
  <h3>Companies</h3>
  <%= link_to "+ Create a Company", new_company_path %><br>
  <% if @companies.empty? %>
  <p>No Companies Found</p>
  <% else %>
    <ul class="list-group my-5">
      <% @companies.each do |company| %>
        <li class = 'list_class' ><a href="<%= company_path(company) %>" class="list-group-item list-group-item-action">
          <%= company.name %>
        </a>
        <%= link_to ('<i class="fa fa-trash destroy_class", title = "Delete"></i>').html_safe, company_path(company.id), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
